# Frontend Environment Variables
# Copy this file to .env and fill in your values

# URL of your FastAPI backend
# Local development:
VITE_API_URL=http://localhost:8000

#production development:
VITE_API_URL=https://ecolens-geetanjali0984188-mi9kr0sw.leapcell.dev
